.app {
background-color: rgba(13, 12, 13, 0.9);
min-height: 100vh;
padding-top: 2rem;
}

hr {
  width: 80%;
  margin-bottom: 1rem;
}

.playerName {
  font-size: 3rem;
}

.item-a {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: .5rem;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f2d30;
  color: white;
  box-shadow: 5px 5px 20px black;
}
.item-b {
  grid-area: mainOne;
}
.item-c {
  grid-area: mainTwo;
}
.item-d {
  grid-area: mainThree;
} 

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    "mainOne mainTwo mainThree";
}

/* .mainNavBar {
  display: flex;
  align-items: center;
  padding: .5rem;
} */

.ninjaPhoto {
  height: 10vh;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -2rem;
  min-height: 80vh;
}

.box {
  height: 45vh;
  margin: 1rem;
  box-shadow: 5px 5px 20px black;
  color: white;
  background-color: #2f2d30;
}

/* .boxOne {
  background-color: #2bdbff;
}

.boxTwo {
  background-color: #ff982a;
}

.boxThree {
  background-color: #c629ff;
} */

h3 {
  margin: 0;
  padding: .3rem 0;
}

.matches {
  margin-top: .5rem;
}

.soloDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.duoDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.squadDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
    overflow: hidden;
}

.container {
  grid-template-columns: 1fr;
  overflow: hidden;
}
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "mainOne" 
    "mainTwo" 
    "mainThree";
    overflow: hidden;
}
.container {
  grid-template-columns: 1fr;
  overflow: hidden;
}

.app {
  min-height: 100%;
}

.item-a {
  margin-bottom: 3rem;
}
}